html {
	font-size: 16px; 
	min-height: 100%;
	margin-bottom: 1px;
}
  
body {
	font-size: 1rem;
	font-family: 'Arial', sans-serif;
	color: #555;
	background: #eaeaea repeat-x;
}
  
td.title {
	background-color: #4169e1;
	text-align: center;
	border-style: outset;
	border-width: 1;
	font-size: 16pt;
	color: #FFFFFF;
	font-weight: bold;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}
  
td.field {
	background-color: #dcdcdc;
	border-style: inset;
	border-width: 0;
	font-size: 12pt;
	color: #444;
}
  
td.value {
	background-color: #FFFFFF;
	border-width: 1;
	font-size: 12pt;
	color: #444;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}
  
td.tabletab {
	background-color: #FFFFFF;
	border-style: inset;
	border-width: 0;
	font-size: 12pt;
	color: #8a2be2;
	font-weight: bold;
}
  
a.prev,
a.next {
	font-size: 12pt;
	color: #8a2be2;
	font-weight: bold;
}
  
#content {
}
  
#content h1 {
	font-size: 2.4em;
	font-weight: normal;
	line-height: 35px;
	margin: 0px 0 60px 0;
}
  
#content p {
	font-size: 1.4em;
	line-height: 24px;
	margin-bottom: 25px;
	color: #444;
}
  
#gallery {
	position: relative;
}
  
#pictures {
	position: relative;
	width: 360px;
	height: auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}
  
#pictures img {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
}
  
#prev,
#next {
	margin-top: 530px;
	text-align: left;
	font-size: 1.1em;
}
  
a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(calendar.png) no-repeat;
}
  
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
  
input.dp-applied {
	width: 140px;
	float: left;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}
